In [30]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [32]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib_inline
%matplotlib inline

In [33]:
# set random seed
import random
random.seed(335)

In [34]:
# magic word
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [35]:
# for better viz
import pprint
import warnings
warnings.filterwarnings('ignore')

In [36]:
df = pd.read_csv('./prepared_data.csv')

In [37]:
df

,Unnamed: 0,Quantity,UnitPrice,CustomerID,Day,Time,DescriptionCluster,Country0,Country1,Country2
0,0,0.500040,2.55,0.926443,0.937677,0.156682,0.00,0.0,0.427772,0.422559
1,1,0.500040,3.39,0.926443,0.937677,0.156682,0.00,0.0,0.427772,0.422559
2,2,0.500054,2.75,0.926443,0.937677,0.156682,0.25,0.0,0.427772,0.422559
3,3,0.500040,3.39,0.926443,0.937677,0.156682,0.75,0.0,0.427772,0.422559
4,4,0.500040,3.39,0.926443,0.937677,0.156682,0.25,0.0,0.427772,0.422559
...,...,...,...,...,...,...,...,...,...,...
400614,400614,0.500081,1.25,0.102508,0.960340,0.294931,0.75,0.0,0.427772,0.422559
400615,400615,0.500162,0.42,0.102508,0.960340,0.294931,0.50,0.0,0.427772,0.422559
400616,400616,0.500027,3.75,0.102508,0.960340,0.294931,0.75,0.0,0.427772,0.422559
400617,400617,0.500081,1.65,0.102508,0.960340,0.294931,0.50,0.0,0.427772,0.422559
400618,400618,0.500081,1.65,0.102508,0.960340,0.294931,0.25,0.0,0.427772,0.422559

In [38]:
print(df.columns)

df.drop(columns=['Unnamed: 0'], inplace=True)

df

Index(['Unnamed: 0', 'Quantity', 'UnitPrice', 'CustomerID', 'Day', 'Time',
       'DescriptionCluster', 'Country0', 'Country1', 'Country2'],
      dtype='object')

,Quantity,UnitPrice,CustomerID,Day,Time,DescriptionCluster,Country0,Country1,Country2
0,0.500040,2.55,0.926443,0.937677,0.156682,0.00,0.0,0.427772,0.422559
1,0.500040,3.39,0.926443,0.937677,0.156682,0.00,0.0,0.427772,0.422559
2,0.500054,2.75,0.926443,0.937677,0.156682,0.25,0.0,0.427772,0.422559
3,0.500040,3.39,0.926443,0.937677,0.156682,0.75,0.0,0.427772,0.422559
4,0.500040,3.39,0.926443,0.937677,0.156682,0.25,0.0,0.427772,0.422559
...,...,...,...,...,...,...,...,...,...
400614,0.500081,1.25,0.102508,0.960340,0.294931,0.75,0.0,0.427772,0.422559
400615,0.500162,0.42,0.102508,0.960340,0.294931,0.50,0.0,0.427772,0.422559
400616,0.500027,3.75,0.102508,0.960340,0.294931,0.75,0.0,0.427772,0.422559
400617,0.500081,1.65,0.102508,0.960340,0.294931,0.50,0.0,0.427772,0.422559
400618,0.500081,1.65,0.102508,0.960340,0.294931,0.25,0.0,0.427772,0.422559

In [39]:
x = df.loc[:, df.columns != 'UnitPrice'].values

y = df.loc[:, 'UnitPrice'].values

In [40]:
print(x.shape)

(400619, 8)

In [41]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [42]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(320495, 8)
(80124, 8)
(320495,)

In [52]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=8, activation='linear'))
model.add(Dense(8, activation='sigmoid'))
# model.add(Dense(8, activation='sigmoid'))
model.add(Dense(1, activation='linear'))

model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [ ]:
# from sklearn.preprocessing import PolynomialFeatures
# from sklearn.pipeline import Pipeline
# from sklearn.linear_model import LinearRegression

# # define the pipeline and train model
# model = Pipeline([('poly', PolynomialFeatures(degree=2)),
#                   ('linear', LinearRegression())])
                  
# model.fit(x_train, y_train)

# # print out regression coefficients
# print(model.named_steps['linear'].coef_)    
# print(model.named_steps['linear'].intercept_)

In [53]:
model.fit(x_train, y_train, epochs=15, batch_size=15)

Epoch 1/15
21367/21367 [==============================] - 49s 2ms/step - loss: 2.2611 - mean_absolute_error: 2.2611
Epoch 2/15
21367/21367 [==============================] - 49s 2ms/step - loss: 2.2590 - mean_absolute_error: 2.2590
Epoch 3/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2589 - mean_absolute_error: 2.2589
Epoch 4/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2587 - mean_absolute_error: 2.2587
Epoch 5/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2585 - mean_absolute_error: 2.2585
Epoch 6/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2582 - mean_absolute_error: 2.2582
Epoch 7/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2580 - mean_absolute_error: 2.2580
Epoch 8/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2578 - mean_absolute_error: 2.2578
Epoch 9/15
21367/21367 [==============================] - 49s 2ms/step - loss: 2.2578 - mean_absolute_error: 2.2578
Epoch 10/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2577 - mean_absolute_error: 2.2577
Epoch 11/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2576 - mean_absolute_error: 2.2576
Epoch 12/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2576 - mean_absolute_error: 2.2576
Epoch 13/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2576 - mean_absolute_error: 2.2576
Epoch 14/15
21367/21367 [==============================] - 48s 2ms/step - loss: 2.2575 - mean_absolute_error: 2.2575
Epoch 15/15
21367/21367 [==============================] - 49s 2ms/step - loss: 2.2575 - mean_absolute_error: 2.2575

In [54]:
pred = model.predict(x_test)
pred = pred.flatten()
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(pred, y_test))

2.106747416924504

In [46]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(pred, y_test))

2.351131358893715

In [55]:
for i in range(10):
    print(pred[i], y_test[i])

1.9063859 8.5
1.7305596 1.25
1.7120664 1.25
1.9225142 1.25
1.8107207 8.25
1.6588862 0.42
1.802067 2.1
1.7245352 1.25
1.9212902 7.5
1.6210995 2.08

### reference
-------------------

- [pandas cheat sheet](https://github.com/pandas-dev/pandas/tree/master/doc/cheatsheet)
- [numpy cheat sheet(data camp)](https://www.datacamp.com/community/blog/python-numpy-cheat-sheet)
- [scikit-learn cheat sheet(data camp)](datacamp.com/community/blog/scikit-learn-cheat-sheet)

# modeling
---------------------
In this phase, various modeling techniques are selected and applied and their parameters are calibrated to optimal values. Typically, there are several techniques for the same data mining problem type. Some techniques have specific requirements on the form of data. Therefore, stepping back to the data preparation phase is often necessary.

## select modeling techuique
----------

### task

As the first step in modeling, select the actual modeling technique that is to be used. Whereas you possibly already selected a tool in business understanding, this task refers to the specific modeling technique, e.g.,decision tree building with C4.5 or neural network generation with back propagation. If multiple techniques are applied, perform this task for each technique separately.

### output

#### modeling technique

Document the actual modeling technique that is to be used.

#### modeling assumptions

Many modeling techniques make specific assumptions on the data, e.g.,all attributes have uniform distributions, no missing values allowed, class attribute must be symbolic etc. Record any such assumptions made.

### Answer: select modeling technique
#### modeling
- [x] Logistic regression
    - [x] **Logistic regression** is used to predict probability of certain class (in our case class of most intresting products)
#### modeling assumptions
assumptions of Logistic regression:
- No missing values allowed
- all attributes are numbers
- not require a linear relationship between the dependent and independent variables.  
- Requier two classes (either 1 or 0)
- independent observations

## generate test design
------------------

### task

Before we actually build a model, we need to generate a procedure or mechanism to test the model's quality and validity. For example, in supervised data mining tasks such as classification, it is common to use error rates as quality measures for data mining models. Therefore, we typically separate the dataset into train and test set, build the model on the train set and estimate its quality on the separate test set.

### output

Describe the intended plan for training, testing and evaluating the models. A primary component of the plan is to decide how to divide the available dataset into training data, test data and validation datasets.

## Answer: generate test design
For training and testing data will be splited into train and test sets (80% for training, 20% for testing).
As given problem is classification then ***accuracy, confusion matrix, recall and presision** as evaluation will be used.

## build model
----------

### task

Run the modeling tool on the prepared dataset to create one or more models.

### output

#### parameter settings 

With any modeling tool, there are often a large number of parameters that can be adjusted. List the parameters and their chosen value, along with the rationale for the choice of parameter settings. 

#### models 

These are the actual models produced by the modeling tool, not a report.

#### model description

describe the resultant model. Report on the interpretation of the models and document any difficulties encountered with their meanings.

## Answer: build model
### parameter settings
- [x] max_iter:100
- [ ] penalty: none,**l2**
- [ ] C: 0.5,**1**,2
- [x] solver: **sag** saga ‘newton-cg
### models
From Ligistic regression predictions of products with `satisfaction` >0.47 expected (marked as class 1)
### model description
As result given predictions can be used to predict relevant product for some country during given month. with query shown bellow

In [ ]:

X,y = df.drop(['Satisfaction','Description','Unnamed: 0'],axis=1),df['Satisfaction']

In [ ]:
# split data

## random split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42,stratify=y)

### regression
-------------

### classification
------------

#### imbalanced data

In [ ]:
# imbalanced data: https://www.analyticsvidhya.com/blog/2020/07/10-techniques-to-deal-with-class-imbalance-in-machine-learning/
## random under sampler
#from imblearn.under_sampling import RandomUnderSampler
#sampler = RandomUnderSampler()

# random over sampler
from imblearn.over_sampling import RandomOverSampler
sampler = RandomOverSampler()


## sampling
X_train, y_train = sampler.fit_resample(X_train, y_train)

#### modeling

In [ ]:
#Ligistic Regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=100,solver='sag')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
prediction = pd.concat([df.loc[y_test.index],pd.DataFrame(y_pred,columns=['pred'],index=y_test.index)],axis=1)
m1 = prediction['Germany']==1
m2 = prediction['Month']==3
m3 = prediction['pred']==1
mask = pd.concat([m1,m2,m3],axis=1).all(axis=1)
prediction[mask]['Description'].to_list()

['RETROSPOT PARTY BAG + STICKER SET',
 'SMALL RED RETROSPOT WINDMILL',
 'PANTRY PASTRY BRUSH',
 'WHITE SPOT BLUE CERAMIC DRAWER KNOB',
 'SET/6 FRUIT SALAD PAPER CUPS',
 '12 PENCILS TALL TUBE WOODLAND',
 'CERAMIC BOWL WITH LOVE HEART DESIGN',
 'PACK OF 6 SKULL PAPER PLATES',
 'PLASTERS IN TIN STRONGMAN',
 'SET OF 72 RETROSPOT PAPER  DOILIES',
 'PLASTERS IN TIN WOODLAND ANIMALS',
 'STRAWBERRY CERAMIC TRINKET BOX',
 'PLASTERS IN TIN WOODLAND ANIMALS',
 'WHITE SPOT RED CERAMIC DRAWER KNOB',
 'WRAP RED APPLES ',
 'WRAP CIRCUS PARADE',
 'RED STRIPE CERAMIC DRAWER KNOB',
 'RED KITCHEN SCALES',
 'STRAWBERRY CERAMIC TRINKET BOX',
 'DOLLY GIRL CHILDRENS EGG CUP',
 'SET/20 RED RETROSPOT PAPER NAPKINS ',
 'HAPPY STENCIL CRAFT',
 'BUNNY WOODEN PAINTED WITH BIRD ',
 'EASTER TIN CHICKS IN GARDEN',
 'TRAVEL CARD WALLET PANTRY',
 'PANTRY SCRUBBING BRUSH',
 'WALL TIDY RETROSPOT ',
 'BIG DOUGHNUT FRIDGE MAGNETS',
 'GIN AND TONIC MUG',
 'RED TOADSTOOL LED NIGHT LIGHT',
 'PACK OF 6 SKULL PAPER CUPS',
 'TRAVEL CARD WALLET RETRO PETALS',
 'DOLLY HONEYCOMB GARLAND',
 'TOOTHPASTE TUBE PEN',
 'MONSTERS STENCIL CRAFT',
 'VINTAGE HEADS AND TAILS CARD GAME ',
 'VICTORIAN GLASS HANGING T-LIGHT',
 'PACK OF 20 NAPKINS PANTRY DESIGN',
 'BLUE POLKADOT COFFEE MUG',
 '10 COLOUR SPACEBOY PEN',
 'PACK OF 12 RED RETROSPOT TISSUES ',
 'LIPSTICK PEN BABY PINK',
 'RETROSPOT HEART HOT WATER BOTTLE',
 'WRAP SUKI AND FRIENDS',
 'WRAP POPPIES  DESIGN',
 'TEA PARTY BIRTHDAY CARD',
 'FELT FARM ANIMAL WHITE BUNNY ',
 'SET/10 PINK POLKADOT PARTY CANDLES',
 'FEATHER PEN,HOT PINK',
 'PURPLE DRAWERKNOB ACRYLIC EDWARDIAN',
 'ROUND CONTAINER SET OF 5 RETROSPOT',
 'BLUE POLKADOT PLATE ',
 'CHILDS GARDEN TROWEL BLUE ',
 'JAM JAR WITH PINK LID',
 'BLUE STRIPE CERAMIC DRAWER KNOB',
 'JAM JAR WITH GREEN LID',
 '6 RIBBONS RUSTIC CHARM',
 'EMERGENCY FIRST AID TIN ',
 'RED TOADSTOOL LED NIGHT LIGHT',
 'COFFEE MUG APPLES DESIGN',
 'ROUND CONTAINER SET OF 5 RETROSPOT',
 'SPACEBOY LUNCH BOX ',
 'WRAP DOILEY DESIGN',
 'REGENCY CAKESTAND 3 TIER']

In [ ]:
prediction.to_csv('./data/prediction.csv')

## Tuning

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {'max_iter':[120,90], 'penalty': ['none','l2'], 'C': [0.5, 2], 'solver': ['sag', 'saga']}
#param_grid = {'max_iter':[120,90], 'solver': ['sag', 'saga']}
gs = GridSearchCV(LogisticRegression(), param_grid)
gs.fit(X_train, y_train)
print(gs.best_params_)
y_best_pred = gs.predict(X_test)

In [ ]:
best_model = gs.best_estimator_

In [ ]:
prediction1 = pd.concat([df.loc[y_test.index],pd.DataFrame(y_best_pred,columns=['pred'],index=y_test.index)],axis=1)
m1 = prediction1['Germany']==1
m2 = prediction1['Month']==3
m3 = prediction1['pred']==1
mask = pd.concat([m1,m2,m3],axis=1).all(axis=1)
print(prediction[mask]['Description'].to_list())
prediction1.to_csv('./data/prediction_best.csv')

## assess model
-------------

### task

The data mining engineer interprets the models according to his domain knowledge, the data mining success criteria and the desired test design. This task interferes with the subsequent evaluation phase. Whereas the data mining engineer judges the success of the application of modeling and discovery techniques more technically, he contacts business analysts and domain experts later in order to discuss the data mining results in the business context. Moreover, this task only considers models whereas the evaluation phase also takes into account all other results that were produced in the course of the project. The data mining engineer tries to rank the models. He assesses the models according to the evaluation criteria. As far as possible he also takes into account business objectives and business success criteria. In most data mining projects, the data mining engineer applies a single technique more than once or generates data mining results with different alternative techniques. In this task, he also compares all results according to the evaluation criteria.

### output

#### model assessment

Summarize results of this task, list qualities of generated models (e.g.,in terms of accuracy) and rank their quality in relation to each other. 

#### revised parameter settings

According to the model assessment, revise parameter settings and tune them for the next run in the Build Model task. Iterate model building and assessment until you strongly believe that you found the best model(s). Document all such revisions and assessments.

## Model assessment
Performance of initial model (parameters shown above) was measured as:
- accuracy `79%`
- confusion matrix
\begin{bmatrix}
60991 & 12368\\
4328 & 2350 
\end{bmatrix}

- precision 0.1596684332110341
- recall 0.35190176699610665
## revised parameter settings
Following parameters will be tuned
- max_iter:[100,120,130,135]
- penalty: [none,l2]
- C: [0.5,1,2]
- solver: ['sag' 'saga', ‘newton-cg']

### regression
-----------------

### classification
----------------

In [ ]:
# accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(str('{:.1g}'.format(accuracy * 100)) + '%')

In [ ]:
print(str(int(accuracy*100))+'%')

In [ ]:
# confusion matrix
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
plot_confusion_matrix(model,X_test,y_true=y_test)
plt.show()

In [ ]:
from sklearn.metrics import precision_score, recall_score
print(f"precision {precision_score(y_test,y_pred)}")
print(f"recall {recall_score(y_test,y_pred)}")

In [ ]:
print("Results for best model")
accuracy = accuracy_score(y_test, y_best_pred)
print(str(int(accuracy*100))+'%')
cm = confusion_matrix(y_test, y_best_pred)
print(cm)
plot_confusion_matrix(best_model,X_test,y_true=y_test)
plt.show()
print(f"precision {precision_score(y_test,y_best_pred)}")
print(f"recall {recall_score(y_test,y_best_pred)}")

## note/questions
-------------

#### select modeling technique

#### generate test design

#### build model

#### assess model